:root{
    --mainColor: #ab3550;
}

.Slider{
    padding: 30px 0 50px 0;
    text-align: center;
    background-color: var(--mainColor);
    overflow: hidden;
}
.Slider h2{
    margin: 30px auto;
    color: #fff;
}
.Slider .Content-slider{
    position: relative;
    width: 80%;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}
.Swiper{
    height: 300px;
}
.Slider .div-img{
    width: 100px;
    height: 100px;
    background-color: var(--mainColor);
    border-radius: 50%;
    margin: 20px auto;
}
.Slider img{
    width: 100%;
    border-radius: 50%;

}
.Slider .box{
    width: 60%;
    margin: auto;
    text-align: center;
}

.Slider h3{
    color: var(--mainColor);
    font-size: 18px;
    font-weight: bold;
}

.Questions{
    width: 100%;
    height: 500px;
    background-color: #fff;
    padding: 50px;
    margin: 20px 0;
    text-align: center;
}
.Questions h2{
    color: var(--mainColor);
    margin-bottom: 50px;
}
.Questions .quest{
    height: 150px;
    margin: 10px auto;
    text-align: left;   
}
.Questions h5{
    font-size: 17px;
    color: var(--mainColor);

}
.Questions .quest p{
    padding-top: 10px;
}


