:root{
    --mainColor: #ab3550;
}

/* =========================
   Subscribe Section
========================= */

.Subscribe{
    width: 60%;
    min-height: 300px; /* بدل height */
    margin: 60px auto;
    padding: 50px 30px;
    text-align: center;
}

.Subscribe h2{
    color: var(--mainColor);
    margin-bottom: 30px;
    font-size: 26px;
}

/* Inputs Container */
.Subscribe .inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; /* مهم للموبايل */
}

/* Input */
.Subscribe input{
    width: 400px;
    max-width: 100%; /* يمنع الخروج بره الشاشة */
    padding: 12px;
    border: 1px solid #ccc;
    outline: none;
}

/* Button */
.Subscribe .btn{
    color: #fff;
    background-color: var(--mainColor);
    padding: 12px 20px;
    font-weight: bold;
    border: 1px solid var(--mainColor);
    cursor: pointer;
    transition: 0.3s;
}

.Subscribe .btn:hover{
    background-color: #fff;
    color: var(--mainColor);
}
